VENDOR ANALYSIS

In [1]:
# The code was removed by Watson Studio for sharing.

,VENDOR,STMNT DATE,INVOICE DATE,BRANCH CODE,ORDER NUMBER,INVOICE NUMBER,INVOICE AMOUNT
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101035.0,30.06.18,15.05.18,2483.0,724341.0,5165.0,"2,133.60"
2,101035.0,30.06.18,15.05.18,2494.0,724206.0,5238.0,"4,388.16"
3,101035.0,30.06.18,15.05.18,2496.0,724206.0,5238.0,"6,538.56"
4,101035.0,30.06.18,15.05.18,2498.0,724206.0,5165.0,"7,030.24"